.project-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  max-width: 380px;
  row-gap: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.project-card-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #e0e0e0;
}

.project-card h2 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.project-card-content {
  font-size: 16px;
  color: #777;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.project-card a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: #555;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.project-card a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.project-card a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.dark .project-card {
  background-color: #333;
}

.dark .project-card h2,
.dark .project-card-content,
.dark .project-card a {
  color: #fff;
}

.light .project-card {
  background-color: #fff;
}

.light .project-card h2,
.light .project-card-content,
.light .project-card a {
  color: #333;
}

.dark .project-card-content {
  color: #fff;
  background-color: #333;
}

.project-card-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.project-card-link-img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.project-card-link.dark {
  color: #fff;
}

.project-card-link.dark:hover {
  border-bottom: 1px solid #fff;
}

.project-card-link.dark .project-card-link-img {
  filter: invert(1);
}
.dark .project-card h2,
.dark .project-card-content,
.dark .project-card a {
  color: #fff;
  background-color: #333;
}
